---
import Layout from "@/layouts/Layout.astro";
import BlogPost from "@/components/BlogPost.astro";
import type { MarkdownInstance } from "astro";
import type { PostFrontmatter } from "@/types/blog";

const posts: MarkdownInstance<PostFrontmatter>[] =
  await Astro.glob("./posts/*.md");
---

<Layout title="Blog">
  <div class="my-2">yapping</div>
  {
    posts.map((post) => (
      <BlogPost url={post.url ?? ""} frontmatter={post.frontmatter} />
    ))
  }
</Layout>
