---
import Layout from "@/layouts/Layout.astro";
import BlogPost from "@/components/BlogPost.astro";
import type { MarkdownInstance } from "astro";
import type { PostFrontmatter } from "@/types/blog";

const posts: MarkdownInstance<PostFrontmatter>[] =
  await Astro.glob("./posts/*.md");
---

<Layout title="Blog">
  <div class="text-2xl font-bold text-subtext0">Posts</div>
  <p class="italic text-subtext0">Occasional musings.</p>

  <div class="py-2"></div>
  {
    posts.map((post) => (
      <BlogPost url={post.url ?? ""} frontmatter={post.frontmatter} />
    ))
  }
</Layout>
