---
import Link from "./Link.astro";
---

<div class="flex flex-col items-center pb-6 text-xs">
  <div>
    <Link href="https://github.com/39bytes/39bytes.dev">Source Code</Link> | Built
    with <Link href="https://astro.build/">Astro</Link>
  </div>
  <div class="py-1"></div>
  <p>© 2024 Jeff Zhang</p>
</div>
