---
import { Icon } from "astro-icon/components";
import ThemeToggle from "./ThemeToggle.astro";

const ROUTES = {
  home: "/",
  blog: "/blog",
  projects: "/projects",
};

const numRoutes = Object.keys(ROUTES).length;
---

<nav class="flex items-center gap-x-1.5 border-b border-b-surface1 p-3">
  {
    Object.entries(ROUTES).map(([name, route], i) => (
      <>
        <a
          href={route}
          class="text-lg font-semibold underline-offset-1 hover:underline"
        >
          {name}
        </a>
        {i !== numRoutes - 1 && <span class="text-pink">•</span>}
      </>
    ))
  }
  <div class="grow"></div>
  <a
    href="https://github.com/39bytes"
    class="transition-duration-300 cursor-pointer hover:text-lavender"
  >
    <Icon size={28} name="github" />
  </a>
  <a
    href="https://github.com/39bytes"
    class="mr-3 cursor-pointer transition duration-300 hover:text-lavender"
  >
    <Icon size={28} name="linkedin" />
  </a>
  <ThemeToggle />
</nav>
