---
import Layout from "./Layout.astro";
import { type PostFrontmatter } from "@/types/blog.ts";

interface Props {
  frontmatter: PostFrontmatter;
}

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <h1 class="text-3xl font-extrabold">{frontmatter.title}</h1>
  <div class="font-medium text-subtext0">
    {frontmatter.date.toString().slice(0, 10)}
  </div>
  <div class="py-1"></div>
  <div class="flex items-center gap-x-1">
    {
      frontmatter.tags.map((t) => (
        <a
          href={`/39bytes.dev/tags/${t}`}
          class="w-fit rounded-xl bg-surface2 px-2 text-sm"
        >
          {t}
        </a>
      ))
    }
  </div>
  <div class="py-4"></div>
  <main
    class="prose dark:prose-invert prose-headings:text-text prose-h1:text-3xl"
  >
    <slot />
  </main>
</Layout>
